<div class="my-container">
<br><br><br>
<div class="container">
<br>
<button type="button" class="btn btn-primary btn-lg btn-block" (click)="getAllBooks()">Book Details</button>
<br>
<button type="button" class="btn btn-primary btn-lg btn-block" (click)="createAllBook()">Create Book</button>
<br>
<button type="button" class="btn btn-primary btn-lg btn-block" (click)="getBookById()">Single Book Details</button>
<br>
<button type="button" class="btn btn-primary btn-lg btn-block" (click)="updateAllBook()">Update Book</button>
<br>
<button type="button" class="btn btn-primary btn-lg btn-block" (click)="deleteAllBook()">Delete Book</button>
</div>
</div>