<div class="my-container">
    <br><br>
<div class="container">
    <h1>Project Details</h1>
    <blockquote>
      <p>This is a Project of Books Management where we can see book details, we can update and delete books and also we can get book details with single Id. In this project, I used A fake API for CRUD operation for that reason data will not be updated only it will hit the details in console. It has been completely developed by me. Here in this project, I used some technologies like Angular 8, Html, Css, Bootstrap.In case of dashboard link, I used AuthGuard here, so, if you want to go to the dashboard page, 
          you have to enter login email and password which I have alredy set to my component.</p>
      </blockquote>
  </div>
</div>



